<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Page</title>
</head>
<body>
    <h1>Event Details</h1>

    <h2>Owner: {{ owner }}</h2>

    
    <h2>Name : {{ name }}</h2>
    <br>
    <h2>Total Member : {{total_member}} / {{slot}}</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Code : {{code}} Maybe add a button to click -> copy to clipboard?</h2>

    <a href="{% url 'event:calendar_group' code %}">See Calendar</a>

</body>
</html>